*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(167, 74, 89);
    padding: 15px 40px;
}
.logo{
    display:flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.nav-links {
    list-style: none;
    display:flex;
    gap:10px;
}
.nav-links a{
color: white;
text-decoration: none;
font-size: 15px;
}
.nav-links a:hover{
    color:rgb(69, 62, 62);
}
@media (max-width:600px)
{
body{
    font-size:16px;
    background-color:#c4b3ae;
    
  }
}
h1{
    display:flex;
    font-size:50px;
    margin-top: 100px;
    justify-content: center;
font-family: sans-serif;
font-weight: bold;
}
h2{
    display: flex;
    font-size: 40px;
    margin-top:20px;
   justify-content: center;
    color: rgb(182, 47, 92);
}
#para{
    display:flex;
    font-size: 20px;
    color:rgb(72, 63, 63);
    text-align: center;
    margin-top:10px;
    margin-left:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image-section{
    display:flex;
    gap:100px;
    margin-top: 70px;;
    justify-content: center;
    align-items: center;
    max-width=100%
    height:auto;
}
.imagebox img{
   width: 280px;
   border-radius: 16px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0,15);
}
#shop{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-attachment:fixed;
    text-align: center;
}
#shopnow{
    margin-top: 50px;
    text-align:center;
    font-size:15px;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(185, 100, 114);
size: 100px;


}
